extends _layout/layout

block variables
	- var title = 'PVInvest'
	- var bodyclass = ''

block css

block body 
	include _layout/header
	main
		//- .container
		include _layout/ct-gioithieu2
	include _layout/footer