section.breadcrumb-wrap.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Dự án
				meta(itemprop='position', content='2')

section.project-body.clearfix
	.container
		h1.page-title Dự án
		.project-list.clearfix
			a.project-card(href="#!")
				figure
					.project-img
						img(src="img/project/1.jpg", alt="")
					figcaption
						.link Xem chi tiết <span class="lnr lnr-chevron-right"></span>
						h2.project-name The Pegasuite
						.project-location Quận 8, TP. Hồ Chí Minh
						.project-des Dự án The Pegasuite sở hữu vị trí đẳng cấp, quy mô lớn và có sức ảnh hưởng đến sự phát triển của khu Tây Nam – TP. HCM. Một khu nhà ở hoàn hảo khi có đầy đủ các tiện ích tốt, giúp cư dân cảm thấy được phục vụ chu đáo và yên tâm sinh sống.
			a.project-card(href="#!")
				figure
					.project-img
						img(src="img/project/2.jpg", alt="")
					figcaption
						.link Xem chi tiết <span class="lnr lnr-chevron-right"></span>
						h2.project-name The Pegasuite II
						.project-location Quận 8, TP. Hồ Chí Minh
						.project-des Tiếp nối thành công của The PEGASUITE, dự án The PEGASUITE II với thiết kế trẻ trung, tiện nghi hiện đại, đem đến không gian sống lý tưởng cho các gia đình trẻ với giấc mơ an cư hiện hữu ngay tại thành phố.
			a.project-card(href="#!")
				figure
					.project-img
						img(src="img/project/3.jpg", alt="")
					figcaption
						.link Xem chi tiết <span class="lnr lnr-chevron-right"></span>
						h2.project-name Little Village
						.project-location Quận 2, TP. Hồ Chí Minh
						.project-des Thừa hưởng hệ thống hạ tầng hoàn hảo của khu vực và không gian sống yên bình, tiện nghi, LITTLE VILLAGE còn kiến tạo một cộng đồng dân cư văn minh, nơi đó mỗi gia đình sẽ có sự kết nối, sẻ chia. Tất cả đem đến môi trường sống đẳng cấp về vật chất, viên mãn về tinh thần.