section.breadcrumb-wrap.s2.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Giới thiệu
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Ban lãnh đạo
				meta(itemprop='position', content='3')
section.page-banner.clearfix
	.banner-img
		img(src="img/about/ab4.jpg", alt="")
	.container
		.page-intro
			h1.page-title Ban lãnh đạo
			//- .content 
				p Được thành lập vào ngày 17/04/2009, Công ty PVInvest chính thức ra mắt thị trường bất động sản Việt Nam với dự án đầu tiên Khu phức hợp The Pegasuite vào ngày 26/11/2016. Dự án đã ghi dấu ấn như một điểm sáng của thị trường bất động sản khu Nam Sài Gòn nói riêng và TPHCM nói chung. Dự án là khu phức hợp với quy mô lớn bao gồm nhà phố thương mại, tọa lạc tại vị trí đắc địa ngay trung tâm hành chính sầm uất của Quận 8, liền kề tuyền Metro số 5 và kết nối nhanh đến các điểm trọng yếu của thành phố chỉ 5 đến 10 phút.
section.about-leader.clearfix
	.container
		.leader-list.clearfix
			.row
				.col-12.col-md-6.col-lg-4
					a.leader(href="#!")
						figure
							.leader-img
								img(src="img/about/l1.jpg", alt="")
								.leader-des.content
									p Thương hiệu của công ty nằm trong trái tim khách hàng 
										br
										|Tại PV Invest, chúng tôi xem thương hiệu của công ty là những giá trị được khách hàng cảm nhận và ghi nhận. Thương hiệu nằm trong trái tim, trí óc của khách hàng và sẽ trường tồn nếu mỗi thành viên đều nỗ lực dày công xây dựng. Chúng tôi tin tưởng PVInvest sẽ trở thành một trong những đơn vị phát triển dự án Bất Động Sản hàng đầu trong tương lai và đón nhận nhiều niềm tin yêu từ khách hàng. 
							figcaption
								h2.leader-name Ông Lê Minh Tuấn
								.leader-cv Chủ tịch hội đồng quản trị
				.col-12.col-md-6.col-lg-4
					a.leader(href="#!")
						figure
							.leader-img
								img(src="img/about/l2.jpg", alt="")
								.leader-des.content
									p Chúng tôi khuyến khích mọi nhân viên sáng tạo
										br
										|Việc quản lý nguồn nhân lực tại PV Invest rất chuyên nghiệp và rõ ràng nhờ quy trình thông tin hai chiều. Nhân viên luôn được khuyến khích sáng tạo, đóng góp những ý tưởng mới cho sự vận hành chuyên nghiệp của công ty. PV Invest cũng luôn cam kết mang đến cho nhân viên của mình, các đối tác và khách hàng một môi trường làm việc chuyên nghiệp, năng động, sẵn sàng hợp tác và hướng đến kết quả hài lòng cho tất cả mọi người. 
							figcaption
								h2.leader-name Ông Trần Thanh Quốc
								.leader-cv Thành viên ban lãnh đạo
				.col-12.col-md-6.col-lg-4
					a.leader(href="#!")
						figure
							.leader-img
								img(src="img/about/l3.jpg", alt="")
								.leader-des.content
									p Duy trì độ tin cậy cao nhất cho khách hàng 
										br
										|Mục tiêu quan trọng của chúng tôi là duy trì tính sẵn sàng và luôn mang đến độ tin cậy cao nhất cho các khách hàng. Chúng tôi rất tự tin với thành quả đạt được và vẫn không ngừng cải tiến để phát triển chính mình. 
										br
										|Với PV Invest, mỗi dự án là một cơ hội để chúng tôi chứng minh về độ tin cậy của mình. Chúng tôi cam kết mang đến cho khách hàng sự hài lòng cao nhất. 
							figcaption
								h2.leader-name Ông Phạm Anh Vũ 
								.leader-cv Thành viên ban lãnh đạo
				.col-12.col-md-6.col-lg-4
					a.leader(href="#!")
						figure
							.leader-img
								img(src="img/about/l4.jpg", alt="")
								.leader-des.content
									p PV Invest đặt lợi ích khách hàng lên hàng đầu 
										br
										|Tại PV Invest, chúng tôi tạo dựng văn hóa luôn đặt lợi ích khách hàng lên hàng đầu. Trước khi làm bất cứ điều gì, chúng tôi đều nghĩ về lợi ích khách hàng. Bất kỳ hoạt động nào của công ty, chúng tôi đều thực hiện trên nền tảng coi trọng lợi ích khách hàng. Bằng cách này, chúng tôi có thể phục vụ khách hàng với tất cả sự tận tâm, trách nhiệm và sự chuyên nghiệp của mình. 
							figcaption
								h2.leader-name Ông Phan Ngọc Thụy 
								.leader-cv Thành viên ban lãnh đạo
				.col-12.col-md-6.col-lg-4
					a.leader(href="#!")
						figure
							.leader-img
								img(src="img/about/l5.jpg", alt="")
								.leader-des.content
									p Chúng tôi không chỉ tạo dựng một “ngôi nhà” 
										br
										|Kể từ ngày đầu tiên thành lập, mục tiêu của chúng tôi là mang đến cho khách hàng những không gian sống tối ưu. Chúng tôi không chỉ dừng lại ở việc tạo dựng một “ngôi nhà” mà đó sẽ là một “mái ấm”. Chúng tôi không chỉ dừng lại ở việc tạo dựng một nơi chốn đi về ấm cúng, mà còn tạo cơ hội cho khách hàng phát triển và mở rộng kinh doanh từ những tiện ích.  Với PV Invest, chúng tôi mang đến cho bạn không gian sống tốt nhất mà bạn cần tìm. 
							figcaption
								h2.leader-name Ông Vũ Văn Trực
								.leader-cv Thành viên ban lãnh đạo