section.breadcrumb-wrap.s2.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Giới thiệu
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tổng quan
				meta(itemprop='position', content='3')
section.page-banner.clearfix
	.banner-img
		img(src="img/about/ab2.jpg", alt="")
	.container
		.page-intro
			h1.page-title Về chúng tôi
			.content 
				p Được thành lập vào ngày 17/04/2009, Công ty PVInvest chính thức ra mắt thị trường bất động sản Việt Nam với dự án đầu tiên Khu phức hợp The Pegasuite vào ngày 26/11/2016. Dự án đã ghi dấu ấn như một điểm sáng của thị trường bất động sản khu Nam Sài Gòn nói riêng và TPHCM nói chung. Dự án là khu phức hợp với quy mô lớn bao gồm nhà phố thương mại, tọa lạc tại vị trí đắc địa ngay trung tâm hành chính sầm uất của Quận 8, liền kề tuyền Metro số 5 và kết nối nhanh đến các điểm trọng yếu của thành phố chỉ 5 đến 10 phút.
section.about-intro.clearfix
	.container
		.row
			.col-12.col-md-6
				.content
					p Chúng tôi đặt mục tiêu trở thành đơn vị phát triển dự án bất động sản uy tín không chỉ riêng tại TP.HCM mà mở rộng ra tại các thành phố năng động trên cả nước. Với phương châm “phát triển bền vững”, PVInvest mong muốn gắn liền tên tuổi của mình với những sản phẩm bất động sản chất lượng cao và giá thành hợp lý, là biểu tượng mới của cuộc sống hiện đại, xứng tầm với các gia đình Việt.
			.col-12.col-md-6
				.content
					p Đặc biệt, chúng tôi đang từng bước khẳng định uy tín thương hiệu của mìnhtừ sản phẩm đẳng cấp, chất lượng vượt trội đến chính sách bán hàng chuyên nghiệp, tạo dựng mối quan hệ gắn bó với khách hàng qua các hoạt động chăm sóc khách hàng.
					p Tại PVInvest, chúng tôi mang đến cho khách hàng những dự án không chỉ đáp ứng các tiêu chuẩn sống vượt trội mà còn  góp phần tạo dựng cuộc sống văn minh hiện đại, thúc đẩy sự phát triển của xã hội.

section.about-history.clearfix
	.container
		.row
			.col-12.col-md-6.col-lg-8
				.about-content
					h1.page-title Lịch sử hình thành
					.content
						p Được thành lập vào ngày 17/04/2009, Công ty PVInvest chính thức ra mắt thị trường bất động sản Việt Nam với dự án đầu tiên Khu phức hợp The Pegasuite vào ngày 26/11/2016. Dự án đã ghi dấu ấn như một điểm sáng của thị trường bất động sản khu Nam Sài Gòn nói riêng và TPHCM nói chung
						p Với vai trò là đơn vị phát triển các dự án Bất Động Sản cùng mục tiêu "phát triển bền vững", PVInvest đã hợp tác với những đơn vị uy tín trong ngành để tạo nên những sản phẩm Bất Động Sản chất lượng tốt và giá thành hợp lý cho khách hàng. Khẳng định uy tín, tạo dựng thương hiệu dựa trên tâm huyết & nỗ lực cao nhất của Chủ Đầu Tư, chúng tôi tin tưởng rằng thương hiệu PVInvest sẽ ngày càng phát triển mạnh mẽ, đa dạng hóa sản phẩm, góp phần kiến tạo một chuẩn mực sống hiện đại văn minh cùng môi trường sống thân thiện, đem đến cuộc sống tốt đẹp hơn đến cho mọi người. 
						p PVInvest đã, đang và sẽ nỗ lực không ngừng để không chỉ dừng lại ở The Pegasuite , mà sẽ còn rất nhiều dự án khác nữa.

			.col-12.col-md-6.col-lg-4
				.history-img
					img(src="img/about/pic2.jpg", alt="")