section.breadcrumb-wrap.s2.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Giới thiệu
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tầm nhìn - Sứ mệnh
				meta(itemprop='position', content='3')
section.page-banner.clearfix
	.banner-img
		img(src="img/about/ab1.jpg", alt="")
	.container
		.page-intro
			h1.page-title Tầm nhìn
			.content 
				p Với sự đầu tư nghiêm túc và tinh thần làm việc chuyên nghiệp, PVInvest mong muốn trở thành một trong những đơn vị hàng đầu Việt Nam trong lĩnh vực bất động sản, vị thế cao, phát triển vững mạnh, góp phần mang lại cuộc sống hạnh phúc và thịnh vượng cho cộng đồng.
				p Chúng tôi cũng đặt ra mục tiêu chiến lược lâu dài: Mang đến cho từng dự án những nét đặc thù riêng, thông qua việc định hình chuẩn mực không gian sống chất lượng cho người Việt.

section.about-mission.clearfix
	.container
		.row
			.col-12.col-md-6
				.mission-img
					img(src="img/about/pic1.jpg", alt="")
			.col-12.col-md-6
				.about-content
					h2.page-title Sứ mệnh
					.content
						p PV Invest gắn liền với những sản phẩm bất động sản chất lượng cao, là biểu tượng mới của cuộc sống hiện đại. Chúng tôi không chỉ xây “nhà” mà còn kiến tạo nên “tổ ấm” bình yên trọn vẹn. Mỗi sản phẩm do PVInvest tạo ra đều mang đậm tính nhân văn, là nơi kết nối và lan tỏa tinh thần cộng đồng. PVInvest mong muốn mang đến những sản phẩm nhà ở chất lượng mà ở đó cộng đồng dân cư sẽ có được một cuộc sống ý nghĩa hơn, tốt đẹp hơn và thịnh vượng hơn.
section.about-value.clearfix
	.container
		.row
			.col-12.col-md-4

			.col-12.col-md-8
				.about-content
					h3.page-title Giá trị cốt lõi
					.content
						p PVInvest xem Chất lượng sản phẩm là trọng tâm, xem lợi ích khách hàng là trách nhiệm, xem Chia sẻ cộng đồng là nghĩa vụ.
					h3.page-title Tôn chỉ hoạt động
					.content
						h5.small-title Professional - Chuyên nghiệp
						p.des Là tiêu chí hoạt động hàng đầu của chúng tôi. Chúng tôi hướng đến cung cấp những sản phẩm và dịch vụ đảm bảo chất lượng: Chính sách bán hàng chuyên nghiệp, xây dựng mối quan hệ bền vững và lâu dài với khách hàng, đối tác và các bên liên quan.
				
						h5.small-title Valuable - Hiệu quả
						p.des PVInvest mang lại hiệu quả thiết thực khi tạo ra các tiêu chuẩn riêng cho quy trình hoạt động của mình. Chúng tôi sở hữu một đội ngũ nhân lực tận tâm, giàu tinh thần trách nhiệm, với trình độ chuyên môn xuất sắc để hoàn thành dự án một cách hiệu quả, nhanh chóng. PVInvest đồng thời luôn thể hiện tính minh bạch trong từng kế hoạch đầu tư, kết hợp với các đối tác uy tín nhằm đảm bảo quyền lợi cho khách hàng và gia tăng giá trị dự án. 
				
						h5.small-title Inventional - Sáng tạo
						p.des Không dừng sự hài lòng trước bất kỳ kết quả nào, PVInvest luôn đặt nhiệm vụ cải tiến chất lượng sản phẩm, dịch vụ lên hàng đầu, thông qua việc nâng cao hiệu quả nguồn nhân lực, cải tiến hệ thống quản lý chất lượng, cập nhật công nghệ hiện đại tiên tiến trên thế giới. Chúng tôi xây dựng một văn hóa sáng tạo tại công ty, nơi khuyến khích mọi thành viên không ngừng tìm kiếm những giải pháp phục vụ khách hàng ngày một tốt hơn. Với chúng tôi, ngày hôm nay luôn phải tốt hơn ngày hôm qua. 
						p(style="font-weight:400; color: #333") Tất cả những điều này là nền tảng để xây dựng nên một Công ty phát triển bất động sản PVInvest uy tín và chất lượng hàng đầu ở TP.HCM và Việt Nam.
section.about-commit.clearfix
	.container
		.row
			.col-12
				.about-content
					h3.page-title Tinh thần PVInvest
					.content
						ul
							li Luôn chia sẻ nền tảng kiến thức, kinh nghiệm và kỹ năng tạo nên một giá trị cộng hưởng. Làm việc trên tinh thần tương hỗ, tạo ra những giá trị gia tăng không ngừng cho các cổ đông, khách hàng và bản thân.
							li Luôn chủ động nắm bắt nhu cầu của khách hàng, không ngừng nghiên cứu và sáng tạo ra những sản phẩm mới, đáp ứng nhu cầu cao và đa dạng của thị trường. 
							li Cung cấp một dịch vụ hoàn hảo trong mọi dự án, mang đến sự hài lòng cho khách hàng với giá trị đầu tư ngày một gia tăng. 

			.col-12.col-md-6
				.about-content
					h3.small-title Cam kết
					.content
						p Mỗi thành viên PVInvest tin tưởng rằng mọi giá trị phải được tạo dựng theo thời gian và là kết quả của quá trình làm việc hết mình, tận tâm và khoa học. Chúng tôi quyết tâm thực hiện sứ mệnh đó, mong muốn chia sẻ các giá trị được tạo dựng với thành viên mới, với cộng đồng, góp phần xây dựng thị trường bất động sản Việt Nam trở thành một trong những thị trường phát triển lành mạnh trong khu vực và quốc tế.
			.col-12.col-md-6
				.about-content
					h3.small-title Chuyên Nghiệp - Hiệu Quả - Sáng Tạo 
					.content
						p là kim chỉ nam cho mọi hoạt động kinh doanh của chúng tôi, giúp chúng tôi khác biệt cùng với sự tăng trưởng của PVInvest.