section.breadcrumb-wrap.about-breadcrumb.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Giới thiệu
				meta(itemprop='position', content='2')
section.about-body.clearfix
	.container
		.about-category
			.row.no-gutters
				article.col-12.col-md-4
					.about-col
						figure
							a.about-img(href="gioithieu3.html")
								img(src="img/about/ab2.jpg", alt="")
							figcaption
								h3.about-name Tổng quan
								.about-des Với mục tiêu chiến lược lâu dài, PVInvest hướng đến trở thành một thương hiệu mạnh về đầu tư – phát triển Bất Động Sản tại TpHCM nói riêng và cả nước nói chung...
								a.link(href="gioithieu3.html") Xem thêm
				article.col-12.col-md-4
					.about-col
						figure
							a.about-img(href="gioithieu2.html")
								img(src="img/about/ab1.jpg", alt="")
							figcaption
								h3.about-name Tầm nhìn - Sứ mệnh
								.about-des Với mục tiêu chiến lược lâu dài, PVInvest hướng đến trở thành một thương hiệu mạnh về đầu tư – phát triển Bất Động Sản tại TpHCM nói riêng và cả nước nói chung...
								a.link(href="gioithieu2.html") Xem thêm
				article.col-12.col-md-4
					.about-col
						figure
							a.about-img(href="gioithieu4.html")
								img(src="img/about/ab4.jpg", alt="")
							figcaption
								h3.about-name Ban lãnh đạo
								.about-des Với mục tiêu chiến lược lâu dài, PVInvest hướng đến trở thành một thương hiệu mạnh về đầu tư – phát triển Bất Động Sản tại TpHCM nói riêng và cả nước nói chung...
								a.link(href="gioithieu4.html") Xem thêm
				//- article.col-12.col-md-6.col-lg-3
					.about-col
						figure
							a.about-img(href="gioithieu5.html")
								img(src="img/about/ab3.jpg", alt="")
							figcaption
								h3.about-name Sơ đồ tổ chức
								.about-des Với mục tiêu chiến lược lâu dài, PVInvest hướng đến trở thành một thương hiệu mạnh về đầu tư – phát triển Bất Động Sản tại TpHCM nói riêng và cả nước nói chung...
								a.link(href="gioithieu5.html") Xem thêm