section.breadcrumb-wrap.clearfix
	.container
		.breadcrumb-img
			img(src="img/news/2.jpg", alt="")
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tin tức
				meta(itemprop='position', content='2')

.container
	.row
		.col-12.col-lg-8.col-xl-9
			section.news-body.clearfix
				h1.page-title PVINVEST Lễ khởi công khu phức hợp The Pegasuite
				.content
					p Sáng ngày 17/2/2017, Công ty Cổ phần Đầu tư Phương Việt (PVInvest) là chủ đầu tư cùng nhà thầu Ricons (đơn vị tổng thầu) thuộc Coteccons Group đã tổ chức Lễ động thổ dự án Khu phức hợp The Pegasuite tại đường Tạ Quang Bửu, phường 6, quận 8. Buổi lễ chào đón sự hiện diện của ông Lê Minh Tuấn – Chủ tịch HĐQT Công ty PVInvest; ông Nguyễn Bá Dương – CT.HĐQT Coteccons Group; Lê Miên Thụy – Tổng Giám đốc Công ty Ricons (Coteccons Group);các đơn vị đối tác và đại diện các cơ quan báo đài.
					figure
						img(src="http://pvinvest.vn/wp-content/uploads/2017/02/5.jpg", alt="")
						figcaption Lễ khởi công có sự hiện diện các bên
					p The PegaSuite là dự án khu phức hợp hiếm hoi tại khu Tây Nam TP.HCM và Quận 8. Trên tổng diện tích 2,14ha, khuôn viên dự án được quy hoạch gồm: khu nhà phố thương mại với số lượng 69 căn; Khu căn hộ cao cấp cao 37 tầng với số lượng 1.150 căn hộ, 16 căn shophouse, 72 căn officetel và các khu tiện tích như hồ bơi, sân tập Golf, công viên, khu tập thể dục thể thao, siêu thị, trường học…Dự án tập hợp được tất cả những yếu tố thuận lợi: vị trí lý tưởng, thiết kế hiện đại trong khuôn viên xanh, chất lượng công trình được thi công đảm bảo, giá cả cạnh tranh cộng thêm sự an toàn về các thủ tục pháp lý…
					p Một số hình ảnh về buổi lễ khởi công dự án The Pegasuite:
					figure
						img(src="http://pvinvest.vn/wp-content/uploads/2017/02/2.jpg", alt="")
						figcaption Nghi thức cúng khởi công Khu phức hợp The Pegasuite- PVInvest
					figure
						img(src="http://pvinvest.vn/wp-content/uploads/2017/02/3.jpg", alt="")
					p Phát biểu tại lễ khởi công, ông Lê Minh Tuấn – Chủ tịch HĐQT Công ty PVInvest cho biết: “Đây là sự kiện đánh dấu cột mốc quan trọng của dự án và là hoạt động được các khách hàng quan tâm, mong đợi. Với sự lựa chọn nhà thầu chuyên nghiệp, uy tín là Công ty Ricons (Coteccons Group), Chủ đầu tư mong muốn đem lại cho khách hàng sản phẩm chất lượng tốt nhất, đúng tiến độ đã cam kết và mang đến cho khách hàng sự an tâm tuyệt đối khi chọn lựa The Pegasuite là nơi an cư và kinh doanh thương mại. Sau lễ khởi công xây dựng khu cao tầng, Chủ đầu tư sẽ mở bán chính thức đợt cuối vào đầu tháng 3/2017”.
					figure
						img(src="http://pvinvest.vn/wp-content/uploads/2017/02/6.jpg", alt="")
						figcaption Ông Lê Minh Tuấn – Chủ tịch HĐQT Công ty PVInvest
					p Đại diện nhà thầu chính, ông Nguyễn Bá Dương– Chủ tịch Coteccons Group – bày tỏ: “Là một thương hiệu uy tín trong lĩnh vực xây dựng công ty Ricons (Coteccons Group) rất tự hào đã làm nên những công trình chất lượng và đảm bảo đúng tiến độ thi công như cam kết với Chủ đầu tư. Ông Nguyễn Bá Dương đã cảm ơn Ban lãnh đạo PVInvest đã tin tưởng chọn lựa đơn vi tổng thầu thi công chuyên nghiệp là công ty Ricons- một thành viên của tập đoàn xây dựng Coteccons- một tập đoàn xây dựng lớn nhất nước tại thời điểm hiện nay.
					p Tuy đây là lần đầu tiên, chúng tôi hợp tác cùng PVInvest nhưng với phương châm ”Công trình sau luôn tốt hơn công trình trước”, chúng tôi cam kết cùng PVInvest sử dụng công nghệ thi công tối tân nhất, hiện đại nhất cho dự án The Pegasuite nhằm đạt được tiến độ tổng thể toàn dự án trong vòng 20 tháng và dự kiến sẽ sớm hơn dự định, chất lượng cao, cũng như đảm bảo an toàn lao động giá trị hàng đầu và đưa đến cho người dân sản phẩm tốt nhất.
					figure
						img(src="http://pvinvest.vn/wp-content/uploads/2017/02/7.jpg", alt="")
						figcaption Ông Nguyễn Bá Dương– Chủ tịch HĐQT Coteccons Group
					p Với đinh hướng chiến lược xây dựng thương hiệu PVInvest “Chuyên nghiệp và bền vững’của ông Lê Minh Tuấn, ông Nguyễn Bá Dương cam kết sẽ đồng hành cùng PVInvest trong các dự án sau nữa, sự kết hợp hoàn hảo góp phần mang đến những dự án nhà ở chất lượng cao cho xã hội và sự phát triển không ngừng của hai công ty.
					figure
						img(src="http://pvinvest.vn/wp-content/uploads/2017/02/4.jpg", alt="")
					p Đại diện đơn vị phân phối là Công ty bất động sản Nhịp cầu địa ốc cho biết: “Khu căn hộ hiện đã đạt kỷ lục với hơn 800 lượt giao dịch đặt cọc giữ chỗ, tương đương hơn 80% tổng số căn hộ của dự án”.
					p Dự kiến, đầu tháng 3/2017 Chủ đầu tư mở đợt tri ân khách hàng nhằm tiếp tục đưa tới các khách hàng những thông tin mới nhất về dự án và lời cảm ơn của Chủ đầu tư về sự quan tâm và ủng hộ The PegaSuite của khách hàng trong suốt thời gian qua, mong muốn được gắn kết dài lâu với các cư dân tương lai tại The PegaSuite.* Mọi thông tin dự án, xin liên hệ:
					ul
						li Hotline: 0903 666 688
						li Hoặc truy cập wesite: www.thepegasuite.vn
				.share
					img(src="img/share.jpg", alt="")
			.other-news
				h4.small-title Tin tức liên quan
				.post-list
					a.post(href="#!") PVINVEST Lễ khởi công khu phức hợp The Pegasuite
					a.post(href="#!") FBNC – Khởi công dự án The Pegasuite – Quận 8
					a.post(href="#!") Khởi công Khu phức hợp The Pegasuite, nhà thầu Coteccons cam kết chất lượng và tiến độ dự án
					a.post(href="#!") Căn hộ giá trung bình sẽ dẫn dắt thị trường
					a.post(href="#!") FBNC – Khởi công dự án The Pegasuite – Quận 8
		.col-12.col-lg-4.col-xl-3
			nav.news-category.clearfix
				h4.sidebar-title 
					span Chuyên mục tin tức
				ul
					li.active
						a(href="#!") Tin thị trường
					li
						a(href="#!") Tin PVInvest
					li
						a(href="#!") Văn hóa PVInvest
					li
						a(href="#!") Hoạt động cộng đồng
			//- section.subscribe-wrap.clearfix
				h4.module-title Đăng ký nhận bản tin
				.subscribe
					.subscribefrm
						input(type="text" placeholder="Địa chỉ email của bạn")
						.subscribebutton Gửi
			section.sidebar-news.clearfix
				h4.sidebar-title
					span Tin nổi bật
				.post-list
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/2.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Đại diện đơn vị phân phối là Công ty bất động sản Nhịp cầu địa ốc cho biết: “Khu căn hộ hiện đã đạt kỷ lục với hơn 800 lượt giao dịch đặt cọc giữ chỗ, tương đương hơn 80% tổng số căn hộ của dự án”. Dự kiến, đầu tháng 3/2017 Chủ đầu tư mở đợt tri ân khách hàng nhằm tiếp tục đưa tới các khách hàng những thông tin mới nhất về dự án và lời cảm ơn của Chủ đầu tư về sự quan tâm và ủng hộ The PegaSuite của khách hàng trong suốt thời gian qua, mong muốn được gắn kết dài lâu với các cư dân tương lai tại The PegaSuite.* Mọi thông tin dự án, xin liên hệ: Hotline: 0903 666 688 Hoặc truy cập wesite: www.thepegasuite.vn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/3.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Đại diện đơn vị phân phối là Công ty bất động sản Nhịp cầu địa ốc cho biết: “Khu căn hộ hiện đã đạt kỷ lục với hơn 800 lượt giao dịch đặt cọc giữ chỗ, tương đương hơn 80% tổng số căn hộ của dự án”. Dự kiến, đầu tháng 3/2017 Chủ đầu tư mở đợt tri ân khách hàng nhằm tiếp tục đưa tới các khách hàng những thông tin mới nhất về dự án và lời cảm ơn của Chủ đầu tư về sự quan tâm và ủng hộ The PegaSuite của khách hàng trong suốt thời gian qua, mong muốn được gắn kết dài lâu với các cư dân tương lai tại The PegaSuite.* Mọi thông tin dự án, xin liên hệ: Hotline: 0903 666 688 Hoặc truy cập wesite: www.thepegasuite.vn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/4.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Đại diện đơn vị phân phối là Công ty bất động sản Nhịp cầu địa ốc cho biết: “Khu căn hộ hiện đã đạt kỷ lục với hơn 800 lượt giao dịch đặt cọc giữ chỗ, tương đương hơn 80% tổng số căn hộ của dự án”. Dự kiến, đầu tháng 3/2017 Chủ đầu tư mở đợt tri ân khách hàng nhằm tiếp tục đưa tới các khách hàng những thông tin mới nhất về dự án và lời cảm ơn của Chủ đầu tư về sự quan tâm và ủng hộ The PegaSuite của khách hàng trong suốt thời gian qua, mong muốn được gắn kết dài lâu với các cư dân tương lai tại The PegaSuite.* Mọi thông tin dự án, xin liên hệ: Hotline: 0903 666 688 Hoặc truy cập wesite: www.thepegasuite.vn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/2.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Đại diện đơn vị phân phối là Công ty bất động sản Nhịp cầu địa ốc cho biết: “Khu căn hộ hiện đã đạt kỷ lục với hơn 800 lượt giao dịch đặt cọc giữ chỗ, tương đương hơn 80% tổng số căn hộ của dự án”. Dự kiến, đầu tháng 3/2017 Chủ đầu tư mở đợt tri ân khách hàng nhằm tiếp tục đưa tới các khách hàng những thông tin mới nhất về dự án và lời cảm ơn của Chủ đầu tư về sự quan tâm và ủng hộ The PegaSuite của khách hàng trong suốt thời gian qua, mong muốn được gắn kết dài lâu với các cư dân tương lai tại The PegaSuite.* Mọi thông tin dự án, xin liên hệ: Hotline: 0903 666 688 Hoặc truy cập wesite: www.thepegasuite.vn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/3.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Đại diện đơn vị phân phối là Công ty bất động sản Nhịp cầu địa ốc cho biết: “Khu căn hộ hiện đã đạt kỷ lục với hơn 800 lượt giao dịch đặt cọc giữ chỗ, tương đương hơn 80% tổng số căn hộ của dự án”. Dự kiến, đầu tháng 3/2017 Chủ đầu tư mở đợt tri ân khách hàng nhằm tiếp tục đưa tới các khách hàng những thông tin mới nhất về dự án và lời cảm ơn của Chủ đầu tư về sự quan tâm và ủng hộ The PegaSuite của khách hàng trong suốt thời gian qua, mong muốn được gắn kết dài lâu với các cư dân tương lai tại The PegaSuite.* Mọi thông tin dự án, xin liên hệ: Hotline: 0903 666 688 Hoặc truy cập wesite: www.thepegasuite.vn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/2.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Đại diện đơn vị phân phối là Công ty bất động sản Nhịp cầu địa ốc cho biết: “Khu căn hộ hiện đã đạt kỷ lục với hơn 800 lượt giao dịch đặt cọc giữ chỗ, tương đương hơn 80% tổng số căn hộ của dự án”. Dự kiến, đầu tháng 3/2017 Chủ đầu tư mở đợt tri ân khách hàng nhằm tiếp tục đưa tới các khách hàng những thông tin mới nhất về dự án và lời cảm ơn của Chủ đầu tư về sự quan tâm và ủng hộ The PegaSuite của khách hàng trong suốt thời gian qua, mong muốn được gắn kết dài lâu với các cư dân tương lai tại The PegaSuite.* Mọi thông tin dự án, xin liên hệ: Hotline: 0903 666 688 Hoặc truy cập wesite: www.thepegasuite.vn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/3.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Đại diện đơn vị phân phối là Công ty bất động sản Nhịp cầu địa ốc cho biết: “Khu căn hộ hiện đã đạt kỷ lục với hơn 800 lượt giao dịch đặt cọc giữ chỗ, tương đương hơn 80% tổng số căn hộ của dự án”. Dự kiến, đầu tháng 3/2017 Chủ đầu tư mở đợt tri ân khách hàng nhằm tiếp tục đưa tới các khách hàng những thông tin mới nhất về dự án và lời cảm ơn của Chủ đầu tư về sự quan tâm và ủng hộ The PegaSuite của khách hàng trong suốt thời gian qua, mong muốn được gắn kết dài lâu với các cư dân tương lai tại The PegaSuite.* Mọi thông tin dự án, xin liên hệ: Hotline: 0903 666 688 Hoặc truy cập wesite: www.thepegasuite.vn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/4.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Đại diện đơn vị phân phối là Công ty bất động sản Nhịp cầu địa ốc cho biết: “Khu căn hộ hiện đã đạt kỷ lục với hơn 800 lượt giao dịch đặt cọc giữ chỗ, tương đương hơn 80% tổng số căn hộ của dự án”. Dự kiến, đầu tháng 3/2017 Chủ đầu tư mở đợt tri ân khách hàng nhằm tiếp tục đưa tới các khách hàng những thông tin mới nhất về dự án và lời cảm ơn của Chủ đầu tư về sự quan tâm và ủng hộ The PegaSuite của khách hàng trong suốt thời gian qua, mong muốn được gắn kết dài lâu với các cư dân tương lai tại The PegaSuite.* Mọi thông tin dự án, xin liên hệ: Hotline: 0903 666 688 Hoặc truy cập wesite: www.thepegasuite.vn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/2.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Đại diện đơn vị phân phối là Công ty bất động sản Nhịp cầu địa ốc cho biết: “Khu căn hộ hiện đã đạt kỷ lục với hơn 800 lượt giao dịch đặt cọc giữ chỗ, tương đương hơn 80% tổng số căn hộ của dự án”. Dự kiến, đầu tháng 3/2017 Chủ đầu tư mở đợt tri ân khách hàng nhằm tiếp tục đưa tới các khách hàng những thông tin mới nhất về dự án và lời cảm ơn của Chủ đầu tư về sự quan tâm và ủng hộ The PegaSuite của khách hàng trong suốt thời gian qua, mong muốn được gắn kết dài lâu với các cư dân tương lai tại The PegaSuite.* Mọi thông tin dự án, xin liên hệ: Hotline: 0903 666 688 Hoặc truy cập wesite: www.thepegasuite.vn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/3.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Đại diện đơn vị phân phối là Công ty bất động sản Nhịp cầu địa ốc cho biết: “Khu căn hộ hiện đã đạt kỷ lục với hơn 800 lượt giao dịch đặt cọc giữ chỗ, tương đương hơn 80% tổng số căn hộ của dự án”. Dự kiến, đầu tháng 3/2017 Chủ đầu tư mở đợt tri ân khách hàng nhằm tiếp tục đưa tới các khách hàng những thông tin mới nhất về dự án và lời cảm ơn của Chủ đầu tư về sự quan tâm và ủng hộ The PegaSuite của khách hàng trong suốt thời gian qua, mong muốn được gắn kết dài lâu với các cư dân tương lai tại The PegaSuite.* Mọi thông tin dự án, xin liên hệ: Hotline: 0903 666 688 Hoặc truy cập wesite: www.thepegasuite.vn
								a.link(href="#!") Chi tiết