section.breadcrumb-wrap.clearfix
	.container
		//- .breadcrumb-img
			img(src="img/breadcrumb/tuyendung.jpg", alt="")
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Phát triển nhân lực
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Cơ hội nghề nghiệp
				meta(itemprop='position', content='3')
.container
	.row
		.col-12.col-lg-8.col-xl-9
			section.career-body.clearfix
				h1.page-title Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
				.content
					h5 Mô tả công việc Nhân Viên Bất Động Sản
					ul
						li Được làm ông chủ thực sự công việc của chính mình.
						li Chăm sóc nguồn khách hàng sẵn có của Công ty
						li Rèn luyện kĩ năng giao tiếp, kỹ năng tư vấn hàng ngày, hàng giờ và khát khao làm giàu chính đáng khi bắt đầu khởi nghiệp
						li Hỗ trợ khách hàng các thủ tục mua bán căn hộ.
						li Được hỗ trợ trực tiếp từ Giám đốc, Trưởng phòng trong từng thương vụ giao dịch Bất động sản.
					h5 Quyền lợi được hưởng  Nhân Viên Bất Động Sản
					ul
						li Cơ hội làm giàu minh bạch, hợp pháp không ngành nghề nào có được.
						li Hoa hồng cao nhất thị trường: 2 – 3%/ tổng giá trị thực tế.
						li Hoa hồng về chia ngay trên “sân cỏ”, không giữ lương, bằng cấp.
						li Lương Nhân Viên Bất Động Sản cứng 8 – 10 triệu/ tháng, không áp doanh số.
						li Môi trường làm việc chuyên nghiệp, năng động và thoải mái
						li MIỄN THUẾ THU NHẬP CÁ NHÂN
						li Được đào tạo bài bản,chuyên nghiệp, với những giáo trình khác biệt mà bạn chưa từng nghe chưa từng thấy, đảm bảo sau 3 tháng vững nghề, sau 6 tháng quyết không bỏ nghề.
						li Gặp gỡ các tầng lớp giàu có trong xã hội, những người có tiền thật và họ đang cần chúng ta thật.
						li Cơ hội làm việc gắn bó lâu dài, thăng tiến và phát triển cùng Công ty để phát huy tối đa năng lực bản thân và đỉnh cao nghề nghiệp.
						li Hưởng đầy đủ các chế độ bảo hiểm XH, Y tế theo Luật Lao động Việt Nam
						li Tham gia bán các sản phẩm là F1 của chủ đầu tư
						li Được cung cấp Data khách hàng
						li Được cung cấp tiền truyền thông hàng tháng: 30 triệu/nhóm 5 người
						li Được cung cấp khách hàng trực tiếp từ việc chạy quảng cáo của công ty
					h5 Yêu cầu công việc
					ul
						li Đã tốt nghiệp Trung cấp trở lên.
						li Làm việc toàn thời gian với Bất động sản.
						li Có phương tiện đi lại, laptop, điện thoại.
						li Nghiêm túc học hỏi, thái độ cầu tiến.
						li Khả năng giao tiếp, thuyết trình tốt, không nói ngọng.
						li Có tinh thần cầu tiến, năng động, tự tin.
						li Tác phong lịch sự, chuyên nghiệp.
						li Ưu tiên đam mê kinh doanh, chưa biết nghề Bất động sản (Công ty sẽ đào tạo miễn phí)
					h5 Yêu cầu hồ sơ
					ul
						li Đơn xin việc.
						li Sơ yếu lý lịch.
						li Hộ khẩu, chứng minh nhân dân và giấy khám sức khỏe.
						li Các bằng cấp có liên quan.
					.contact
						h6 Thông tin liên hệ
						h5 Công ty Cổ Phần Đầu Tư Phương Việt (PVInvest)
						ul
							li <i class="fa fa-map-marker" aria-hidden="true"></i> 10C Sư Thiện Chiếu, Phường 7, Quận 3, Tp.HCM
							li <i class="fa fa-phone" aria-hidden="true"></i>
								a(href="tel:08. 393 3351") 08. 393 3351 
								|– 
								a(href="tel:0903 6666 88") 0903 6666 88
				.share
					img(src="img/share.jpg", alt="")
			.other-jobs
				h4.small-title Các công việc khác
				nav.jobs-list
					a.job(href="#!") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
					a.job(href="#!") Tuyển Giám đốc Kinh doanh/Marketing Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
					a.job(href="#!") Tuyển Nhân viên chăm sóc khách hàng Thu Nhập Cao – Thưởng Hấp Dẫn
					a.job(href="#!") Tuyển Giám đốc Kinh doanh/Marketing Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
					a.job(href="#!") Tuyển Nhân viên chăm sóc khách hàng Thu Nhập Cao – Thưởng Hấp Dẫn
		.col-12.col-lg-4.col-xl-3
			nav.news-category.clearfix
				h4.sidebar-title 
					span Tuyển dụng
				ul
					li
						a(href="nhansu.html") Chính sách tuyển dụng
					li.active
						a(href="tuyendung.html") Cơ hội nghề nghiệp
			//- section.subscribe-wrap.clearfix
				h4.module-title Đăng ký nhận bản tin
				.subscribe
					.subscribefrm
						input(type="text" placeholder="Địa chỉ email của bạn")
						.subscribebutton Gửi
			section.sidebar-news.clearfix
				h4.sidebar-title
					span Tin nổi bật
				.post-list
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/2.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/3.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/4.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/2.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/3.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/2.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/3.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/4.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/2.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/3.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết

