section.breadcrumb-wrap.s2.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Phát triển nhân lực
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Cơ hội nghề nghiệp
				meta(itemprop='position', content='3')
section.page-banner.clearfix
	.banner-img
		img(src="img/about/ab3.jpg", alt="")
	.container
		.page-intro
			h1.page-title Phát triển nhân lực
			.content 
				p Tại PVInvest, tất cả CBNV đều có cơ hội phát huy khả năng, nâng cao năng lực của bản thân. Chúng tôi tập trung xây dựng nguồn nhân lực với chính sách đào tạo nhân tài, đãi ngộ và khen thưởng hấp dẫn.

.container
	.row
		.col-12.col-lg-8.col-xl-9
			section.career-body.clearfix
				h1.page-title Cơ hội nghề nghiệp
				.jobs-list.clearfix
					.row
						article.col-12.col-md-6
							.job-card
								figure
									a.job-img(href="tuyendungct.html")
										img(src="img/career/1.jpg", alt="")
									figcaption
										time 28.10.2017
										h2.job-name 
											a(href="tuyendungct.html") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
										.job-des Mô tả công việc Nhân Viên Bất Động Sản + Được làm ông chủ thực sự công việc của chính mình. + Chăm sóc nguồn khách hàng
										a.link(href="tuyendungct.html") Chi tiết
						article.col-12.col-md-6
							.job-card
								figure
									a.job-img(href="#!")
										img(src="img/career/1.jpg", alt="")
									figcaption
										time 28.10.2017
										h2.job-name 
											a(href="#!") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
										.job-des Mô tả công việc Nhân Viên Bất Động Sản + Được làm ông chủ thực sự công việc của chính mình. + Chăm sóc nguồn khách hàng
										a.link(href="#!") Chi tiết
						article.col-12.col-md-6
							.job-card
								figure
									a.job-img(href="#!")
										img(src="img/career/1.jpg", alt="")
									figcaption
										time 28.10.2017
										h2.job-name 
											a(href="#!") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
										.job-des Mô tả công việc Nhân Viên Bất Động Sản + Được làm ông chủ thực sự công việc của chính mình. + Chăm sóc nguồn khách hàng
										a.link(href="#!") Chi tiết
						article.col-12.col-md-6
							.job-card
								figure
									a.job-img(href="#!")
										img(src="img/career/1.jpg", alt="")
									figcaption
										time 28.10.2017
										h2.job-name 
											a(href="#!") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
										.job-des Mô tả công việc Nhân Viên Bất Động Sản + Được làm ông chủ thực sự công việc của chính mình. + Chăm sóc nguồn khách hàng
										a.link(href="#!") Chi tiết
						article.col-12.col-md-6
							.job-card
								figure
									a.job-img(href="#!")
										img(src="img/career/1.jpg", alt="")
									figcaption
										time 28.10.2017
										h2.job-name 
											a(href="#!") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
										.job-des Mô tả công việc Nhân Viên Bất Động Sản + Được làm ông chủ thực sự công việc của chính mình. + Chăm sóc nguồn khách hàng
										a.link(href="#!") Chi tiết
						article.col-12.col-md-6
							.job-card
								figure
									a.job-img(href="#!")
										img(src="img/career/1.jpg", alt="")
									figcaption
										time 28.10.2017
										h2.job-name 
											a(href="#!") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
										.job-des Mô tả công việc Nhân Viên Bất Động Sản + Được làm ông chủ thực sự công việc của chính mình. + Chăm sóc nguồn khách hàng
										a.link(href="#!") Chi tiết
				.pages
					ul.pagination
						li.active
							a(href="#!") 1
						li
							a(href="#!") 2
						li
							a(href="#!") 3
						li
							a(href="#!") 4
		.col-12.col-lg-4.col-xl-3
			nav.news-category.clearfix
				h4.sidebar-title 
					span Tuyển dụng
				ul
					li
						a(href="nhansu.html") Chính sách tuyển dụng
					li.active
						a(href="tuyendung.html") Cơ hội nghề nghiệp
			//- section.subscribe-wrap.clearfix
				h4.module-title Đăng ký nhận bản tin
				.subscribe
					.subscribefrm
						input(type="text" placeholder="Địa chỉ email của bạn")
						.subscribebutton Gửi
			section.sidebar-news.clearfix
				h4.sidebar-title
					span Tin nổi bật
				.post-list
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/2.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/3.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/4.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/2.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/3.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/2.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/3.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/4.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/2.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết
					.post
						figure
							a.post-img(href="#")
								img(src="img/career/3.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") Tuyển Nhân Viên Bất Động Sản Thu Nhập Cao – Thưởng Hấp Dẫn
								a.link(href="#!") Chi tiết

