footer
	.container
		section.footer-top.clearfix
			.row
				.col-12.col-lg-5
					.footer-col
						.company
							figure
								.logo
									img(src="img/logo.png", alt="")
								figcaption Công ty Cổ Phần Đầu Tư Phương Việt
						.about
							p PVInvest là một trong những doanh nghiệp lớn, hoạt động trên các lĩnh vực: xây dựng, thiết kế, triển khai các dự án nhà phố thương mại, căn hộ cao cấp, nhà biệt thự, liền kề, căn hộ giá rẻ với quy mô rất lớn và tiện ích vượt trội
				.col-12.col-lg-2
					.footer-col
						.title Sitemap
						nav.footer-link
							a(href="#!") Trang chủ
							a(href="#!") Giới thiệu
							a(href="#!") Dự án
							a(href="#!") Tin tức
							a(href="#!") Hình ảnh
							a(href="#!") Tuyển dụng
							a(href="#!") Liên hệ
				.col-12.col-lg-2
					.footer-col
						.title Dự án
						nav.footer-link
							a(href="#!") The Pegasuite
							a(href="#!") The Pegasuite II
							a(href="#!") Little Village
				.col-12.col-lg-3
					.footer-col
						.title Liên hệ
						.contact-info
							ul
								li <i class="fa fa-map-marker" aria-hidden="true"></i>10C Sư Thiện Chiếu, Phường 7, Quận 3, TP. HCM
								li <i class="fa fa-phone" aria-hidden="true"></i>
									a(href="tel:(028).38.8888.00") (028).38.8888.00 
									|- 
									a(href="tel:0903 6666 88") 0903 6666 88
								li <i class="fa fa-phone" aria-hidden="true"></i>
									a(href="tel:(028).38.8888.11") (028).38.8888.11 
									|- 
									a(href="tel:38.8888.22") 38.8888.22
								li <i class="fa fa-envelope" aria-hidden="true"></i>
									a(href="mailto:dvkh@pvinvest.vn") dvkh@pvinvest.vn
								li <i class="fa fa-globe" aria-hidden="true"></i>
									a(href="http://pvinvest.vn") pvinvest.vn
		section.footer-bottom.clearfix
			.copyright Copyright © 2017 PVInvest. All rights reserved. Designed by 
				a(href="#!") Cánh Cam
				|.
.up <i class="fa fa-long-arrow-up" aria-hidden="true"></i>