header.clearfix
	.container.fullwidth
		.sitelogo
			a(href="index.html")
				img(src="img/logo.png", alt="")
		nav.menu.clearfix
			.menu-content
				.menuleft
					.menu-wrap
						ul.menulink
							li
								a(href="index.html") Trang chủ
							li
								a(href="gioithieu.html") Giới thiệu
							li
								a(href="duan.html") Dự án
							li
								a(href="tintuc.html") Tin tức
							//- li
								a(href="tuyendung.html") Tuyển dụng
				.menuright
					.menu-wrap
						ul.menulink
							li
								a(href="nhanluc.html") Phát triển nhân lực
							li
								a(href="lienhe.html") Liên hệ
					.tool.clearfix
						.language
							a.active(href="#!") EN
							a(href="#!") VN
						.social
							a.fa.fa-facebook(href="#!")
							a.fa.fa-youtube-play(href="#!")
						.search
							.search-toggle <i class="fa fa-search" aria-hidden="true"></i>
							.search-wrap.clearfix
								.btn-closesearch ✕
								.searchbox
									input(type="text" placeholder="Tìm kiếm...")
									button.searchbutton <span class="lnr lnr-magnifier"></span>
						.hotline
							//- a(href="tel:0903666688") 0903 6666 88
							a(href="mailto:dvkh@pvinvest.vn") dvkh@pvinvest.vn
